<div class="form-group">
    <input type="text" class="form-control"  name="name" placeholder="ادخل اسم الموكل" required="">
</div>
<div class="form-group">
    <input type="tel" class="form-control"  name="civilid" placeholder="ادخل الرقم المدني" required="">
</div>
<div class="form-group">
    <input type="tel" class="form-control"  name="phone" placeholder="ادخل رقم الهاتف" required="">
</div>
<div class="form-group">
    <input type="email" class="form-control"  name="email" placeholder="ادخل البريد الإلكتروني" required="">
</div>

