<label>الاسم</label>
    <input type="text" name="name" value="<% customer.name %>">
    <label>الرقم المدني</label>
    <input type="tel" name="civilid">
    <label>الهاتف</label>
    <input type="tel" name="phone">
    <label>البريد الإلكتروني</label>
    <input type="email" name="email">
  