<div class="row gutters justify-content-center">
    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-12">
       
            <div class="card m-0">
                <div class="card-header">
                    <div class="card-title">اضافة موكل</div>
                </div>
                <div class="card-body">
                    <form action="/customers" method="POST">
                    <%- include('_form_fields') %>
                    <button type="submit" class="btn btn-outline-primary btn-block btn-rounded mt-4"><span class="icon-add-user"></span> اضافة</button>
                    </form>

                </div>
            </div>
        </form>
    </div>
</div>


</div>
